.place-order{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 100px;
    gap: 45px;
}

.place-order-left{
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title{
    font-size: 35px;
    margin-bottom: 45px;
    font-weight: 650;
}

.place-order-left input{
    width: 100%;
    padding: 10px;
    outline-color: red;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #eaeaea;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.place-order-left .multi-fields{
    display: flex;
    gap: 8px;
}

.place-order-right{
    width: 100%;
    max-width: max(40%, 500px);
}
.place-order .cart-total button{
    margin-top: 20px;
}