.rest-detail {
    margin: 30px 30px;
}

.rest-detail h1 {
    font-size: max(1.8vw, 24px);
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 30px;
}

.rest-detail-img {
    width: 100%;
    height: 60vh;
}

.rest-detail p {
    margin-top: 10px;
}

.rest-detail hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}